[Unit]
Description=PaperTTY
DefaultDependencies=no

[Service]
Type=simple
KillSignal=SIGINT
TimeoutStopSec=8
Restart=on-failure

### Change the paths below to match yours
# I need the --flip flag because my display is mounted upside-down
ExecStart=/usr/local/bin/papertty --flip
###

[Install]
WantedBy=sysinit.target
